<% layout('layout') -%>
<h2>New Issue</h2>
<form method="post">
  <label>Title</label>
  <input name="title" required/>
  <label>Body (Markdown)</label>
  <textarea name="body" rows="10"></textarea>
  <p><button class="primary">Create issue</button></p>
</form>
